.signIn{
/* margin: auto; */
display: flex;
align-items: center;
justify-content: space-around;
min-height: 100vh;


}
.signIn-img{
width: 50%;
}
.signup_form{
    justify-self: flex-end;
}
@media only screen and (max-width: 1330px) {
 
    .signIn-img {
     display:none;
     
    }
    .signup_form {
      
      margin-top: 30px;
    }
  }