.adminContainer {
  display: flex;
}
.visitor-main {
  width: calc(100vw - 200px);
  margin: 0 auto;
  overflow-y: scroll;
  height: 95vh;
  font-family: "Inter", sans-serif;
}
.visitor-main h1 {
  margin-top: 40px;
  color: var(--secondary);
  font-size: 29px;
}
.adminProfile-main {
  transform: translateX(97pc);
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .visitor-main {
    width: 100%;
  }
}
.Table {
  margin-top: 4pc;
  margin-left: 7pc;
}
.css-128fb87-MuiDataGrid-toolbarContainer {
  background-color: var(--accent);
  color: var(--primary);
}
.css-1iyq7zh-MuiDataGrid-columnHeaders {
  background-color: var(--accent);
  color: var(--primary);
}
.css-y6rp3m-MuiButton-startIcon {
  color: var(--primary);
}

.css-128fb87-MuiDataGrid-toolbarContainer button{
    color: antiquewhite;
}
.css-128fb87-MuiDataGrid-toolbarContainer button:last-child{
  color:var(--secondary)
}
.css-128fb87-MuiDataGrid-toolbarContainer button:last-child:hover{
  color:var(--primary)
}