.navbar {
  max-width: 90%;
  margin: auto;

  transform: translateY(-50px);
}
.search {
  width: 47%;
  border-radius: 50px;
  padding: 12px;
  transform: translateY(-90px);
  border: 0ch;
  color: var(--accent);
  background-color: rgb(245, 240, 240);
  background-image: url("./search.png");
  background-repeat: no-repeat;
  background-position: 49pc;
  background-size: 25px;
}
.search:focus {
  outline: none;
}
.search::placeholder {
  font-size: 15px;
}
.navLink {
  transform: translateY(-135px);
  margin-left: 68pc;
  display: flex;
}
a {
  padding: 20px;
  text-decoration: none;
  color: var(--accent);
  font-size: 17px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 14px;
}

.imageOrder {
  transform: translateY(-4px);
}
.component {
  display: inline;
}
