.about-main {
  width: 80%;
  margin: auto;
}

.about-section-header {
  font-size: 3em;
  text-align: center;
  color: var(--accent);
  margin-bottom: 5rem;
  /* border-bottom: 1rem solid var(--accent); */
}

.about-section-content {
  display: block;
  color: var(--secondary);
  font-family: var(--font-family);
  /* width: 50%;  */
  margin: auto;
  text-align: center;
  line-height: 2rem;
  font-family: "Montserrat";
}

.about-img-map {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.about-image {
  width: 57%;
  height: 62.5rem;
}

.about-map {
  width: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 62.5rem;
}

.about-icons {
  display: flex;
  justify-content: space-around;
}

.about-icons a {
  margin-top: 5rem;
  margin-bottom: 5rem;

  font-size: 3rem;
}
