.about-main {
 padding-top:5% ;
  background-color: var(--third);
  transform: translateY(-11pc);
  
}

.about-header1,
.about-header3 {
  text-align: center;
  color: var(--accent);
}

.about-content {
  background-color: lightgrey;
  margin: auto;
  width: 40%;
  border: 1px solid var(--accent);
  padding: 50px;
  background-color: var(--primary);
  color: var(--accent);
}
