.Home {
  width: 80%;
  margin: auto;
}

.hero-section {
  background-color: var(--accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  color: var(--secondary);
  border-radius: 10px;
  max-height: 250px;
  padding: 5px;
}
.door {
  transform: scaleX(-1);

}
.hero_text {
  z-index: 1;

}
.hero_text h1 {
  font-size: 35px;
}
.hero_text h4 {
  text-align: center;
}
.hero-del {
  z-index: 1;
}
