.Home{
    width:80%;
    margin: auto;

}
.inputHome{
    width:88%;
    padding: 20px;
    background-color: var(--third);
    transform: translateX(100px);
    border:1px solid var(--accent);
    font-size: 17px;
    background-image:url('./delivery.png') ;
    background-repeat: no-repeat;
    background-position: 10px;
  
}
.inputHome:focus{
    border:0.5x solid var(--accent);
   
}
.inputHome::placeholder{
    transform: translateX(25px);

}
.allCategory-Header{
    display: flex;
    width:85%;
    transform: translateX(130px);
  
    
}
.allCategory{
    transform: translateY(3pc);
}

.product-card{
    width: 90%;
    transform: translateX(115px);
   
    display: flex;
    justify-content: space-between;
    
}
.allCategory-Title h1{
    transform: translate(50px, -48px);
    color: var(--secondary);
}
.seemore{
    transform: translate(73pc);
}