.first-chart{
    display:flex;
    flex-direction:row;
justify-content: space-around;


}
.adminDashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.center{
  margin-left: 100px;
}