.card {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 30px;
  max-width: 400px;
  min-height: 130px;
  margin: 20px 0;
  transition: all 0.5s ease;
  color: var(--secondary);
  min-width: 350px;
  max-width: 350px;
}

.card:hover {
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04);
  transform: translate3D(0, -1px, 0) scale(1.02);
  transition: all 0.5s ease;
}

.profile_img {
  width: 80px;
  height: 80px;

  object-fit: cover;
  object-position: 50% 50%;

  border-radius: 100%;
}
.admin-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flag_wrapper {
  text-align: center;
  color: var(--primary);
  width: 65px;
  height: 65px;
  background-color: var(--accent);
  border-radius: 100%;
  position: relative;
  top: 5pc;
  left: 5px;
}

.flag {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}

.left {
  margin-right: 12.5px;
}
.right {
  margin-left: 12.5px;
}

.interests {
  margin-top: 10px;
}

.interests_title {
  color: #222222;
  margin-bottom: 5px;
}

.interests_item {
  padding: 0 15px;
  margin-right: 5px;
  line-height: 35px;
  background-color: #e6e6e6;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.admin_action{
  margin-top: 2pc;
  display: flex;
}
.admin_header{
  display: flex;
  align-items: center;
}