.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 30px;
    font-family: sans-serif;
}
.profile h1,.container h1{
    text-align: center;
    color: var(--accent);
    font-size: 38px;
}
.form{
    display: flex;
    height: 50%;
    width: 100%;
}
.inputs-form{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.inputs{
    color: var(--secondary);
    height: 370px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: -10px 10px 29px 2px rgba(0,0,0,0.44);
-webkit-box-shadow: -10px 10px 29px 2px rgba(0,0,0,0.44);
-moz-box-shadow: -10px 10px 29px 2px rgba(0,0,0,0.44);
}
.MuiInputBase-root{
    background-color: white
}
.inputs div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.image{
    width: 50%;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.info-contact{
    width: 100%;
    height: 30%;
}

.button {
width: 200px;
margin-left: 10px;
}
.inputs span {
    font-size: 30px;
    color: var(--accent);
}

.Icons-info{
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.info-contact{
display: flex;
justify-content: center;
align-items: center;
}
.Icons-info div .icon   {
    font-size: 40px ;
    color: white;
    display: flex;
    align-items: center;
}


.Icons-info  .icon {
    background-color: var(--accent);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.info-container{
    display: flex;
    height: 150px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.info-container span {
    font-size: 25px;
    color: var(--secondary);
}
.map {
    width: 100%;
     height:500px;
     display: flex;
     justify-content: center;
}
.map .map-location{
    width: 86%;
    height: 500px;
    box-shadow: -10px 10px 29px 2px rgba(0,0,0,0.44);
    -webkit-box-shadow: -10px 10px 29px 2px rgba(0,0,0,0.44);
    -moz-box-shadow: -10px 10px 29px 2px rgba(0,0,0,0.44);
}
.feedback{
    width: 100%;
    display: flex;
    flex-direction: column;
height: 15pc;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    font-size: 35px;
    margin: auto;
    color: var(--secondary);
}

.css-1vooibu-MuiSvgIcon-root{
    display: block;

    font-size: 5rem !important;

}
